/*
    Project Name: Loader using CSS Animation Effects
    Author: Soumyadeep Mandal 
    Contact: https://www.linkedin.com/in/imsampro
    Created: October 2020
    Version: 1.1
    File Description: Loader using CSS Animation Effects
*/


README.md


/*
    Project Name: Loader using CSS Animation Effects
    Author: Soumyadeep Mandal 
    Contact: https://www.linkedin.com/in/imsampro
    Created: October 2020
    Version: 1.1
    File Description: Loader using CSS Animation Effects
*/